// 색상 변수
$primary-color: steelblue;
$secondary-color: rgb(240, 240, 240);
$danger-color: #fc4e42;
$text-color: #333;
$bg-light: #ffffff;

$main-color: steelblue;
$light-bg: #f9f9f9;
$border-color: #ddd;
$radius: 8px;

// 폰트
$font-family: "Arial", sans-serif;
